button{
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}



.disabled{
    background-color: #d20c0c;
    cursor: not-allowed;
}


.active{
    background-color: blue;
}